.main {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.card {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    transition: 0.2s;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.8);
    background: black;
    padding: 20px;
}

.card button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-color: #333;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.conteiner {
    height: auto;
    width: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.8);
}

h1,h3 {
    color: white;
}

img {
    width: 100%;
}

.loading {
    margin-top: 250px;
}

.loading img {
    height: 300px;
    width: 300px;
}