/* 
.landing{
  background-image: url(../../client/src/image/9bc27292880429.5e569ff84e4d0.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 60%;
  
  margin-top: 5%;
} */
