body {
    background-image: url(../../image/9bc27292880429.5e569ff84e4d0.gif);
    height: 100vh;
}

.conteiner {
    display: flex;
    gap: 35px;
}

.head {
    display: flex;
    justify-content: space-around;
}

.filtros {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.loading {
    margin-left: 320px;
    margin-top: 250px;
}

.loading img {
    height: 300px;
    width: 300px;
}