@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Cyber', sans-serif;
    background-image: url('https://raw.githubusercontent.com/SantiRosso/PI-Videogames/main/client/public/carrousell_1920x1080_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.conteiner {
    display: flex;
    gap: 35px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.head button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-color: #333;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.filtros {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.loading {
    margin-left: 320px;
    margin-top: 250px;
}

.loading img {
    height: 300px;
    width: 300px;
}